<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Login Page</h3>
    <form th:action="@{/login}" method="post">
        <table>
            <tbody>
            <tr>
                <td>User:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2"><input name="submit" type="submit" value="Login"></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>